{{- $content := .Content -}}
{{- $content = replaceRE `(?is)\\?\[(?:图片|image|视频|video)\s*:(?:[^\[\]]|\[[^\[\]]*\])*\]` " " $content -}}
{{- $content = replaceRE `(?is)\\?\[(?:图片|image|视频|video)\s*:.*?(</(?:li|p|div|blockquote|section|article|td|th)>)` " $1" $content -}}
{{- $content = replaceRE `(?is)(<a\b[^>]*>.*?</a>)(?:\?|&amp;)?(?:…|%E2%80%A6|&hellip;|\.{3,})` "$1" $content -}}
{{- $content = replaceRE `(?is)<a([^>]*?)href\s*=\s*"[^"]*(?:…|%E2%80%A6|&hellip;|\.{3,})[^"]*"([^>]*)>(.*?)</a>` "$3" $content -}}
{{- $content = replaceRE `(?is)<a([^>]*?)href\s*=\s*'[^']*(?:…|%E2%80%A6|&hellip;|\.{3,})[^']*'([^>]*)>(.*?)</a>` "$3" $content -}}
{{- $content = replaceRE `(?is)<a([^>]*?)href\s*=\s*[^\s>]*(?:…|%E2%80%A6|&hellip;|\.{3,})[^\s>]*([^>]*)>(.*?)</a>` "$3" $content -}}
{{- $content = replaceRE `(?is)<a([^>]*?)href\s*=\s*"(?:javascript|data|vbscript):[^"]*"([^>]*)>(.*?)</a>` "$3" $content -}}
{{- $content = replaceRE `(?is)<a([^>]*?)href\s*=\s*'(?:javascript|data|vbscript):[^']*'([^>]*)>(.*?)</a>` "$3" $content -}}
{{- $content = replaceRE `(?is)<a([^>]*?)href\s*=\s*(?:javascript|data|vbscript):[^\s>]*([^>]*)>(.*?)</a>` "$3" $content -}}
{{- $content = replaceRE `(?i)https?://[^\s<>"']*(?:…|%E2%80%A6|&hellip;|\.{3,})[^\s<>"']*` " " $content -}}
{{- $content | safeHTML -}}
